@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

:root {
  font-size: 62.5%;

  --bg-color: #573824;
  --surface-color: #F0E8C2;
  --text-color-on-bg: #F0E8C2;
  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 150%;
  font-family: "Alice", serif;
  color: var(--text-color-secondary);
  background: url(assets/bg-image.jpg) no-repeat center center / cover;
}

#page {
  margin: 4.8rem auto;
  max-width: 80rem;
  padding: 2.4rem;
  background-color: var(--text-color-on-bg);
  border-radius: 2.4rem;
}

img {
  width: 100%;
  border-radius: 1.6rem;
}

main {
  padding: 2.4rem;
}

section + section {
  margin-top: 2.4rem;
}

h1 {
  font-size: 4rem;
  line-height: 140%;
}

h2 {
  font-size: 2.4rem;
  line-height: 150%;
}

h1, h2 {
  margin-bottom: .4rem;
  color: var(--text-color-primary);
}

#about > p {
  margin-bottom: 1.2rem;
}

#ingredients ul {
  list-style: inside;
}

#preparation p + p {
  margin-top: 1.6rem;
}